<div class="bg-pa">
  <div class="form-container">
    <h2 class="title">
      WELCOME
    </h2>
    <p class="subtitle">
      Let's Sign up!
    </p>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => 'form '}) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
  
  
      <div class="field">                
        <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", placeholder: 'First name' %>
      </div>
  
      <div class="field">
        <%= f.text_field :last_name, autocomplete: "last_name", placeholder: 'Last name' %>
      </div>
  
      <div class="field">
        <%= f.date_field :date_birth, autocomplete: "date_birth" %>
      </div>
  
      <div class="field">
        <%= f.select(:gender, [['Gender'],['Male', 'male'], ['Female', 'female']]) %>
      </div>
  
      <div class="field">
        <%= f.email_field :email, autocomplete: "email", placeholder: 'Email' %>
      </div>
  
      <div class="field">
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password (6 characters minimum)", class: 'password-text' %>
      </div>
  
      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Password confirmation', class: 'password-text' %>
      </div>
  
      <div class="actions">
        <%= f.submit "Sign up", class: 'btn btn-main txt-center' %>
      </div>
    <% end %>

    <div class="or">
      OR
    </div>
  
    <%= render "devise/shared/links" %>
  </div>
</div>
