<article>
  <p>
    <%=@post.content %>
  </p>
  <span>
    <%= @post.user.first_name %>
  </span>

</article>


<h3>
  Create a comment:
</h3>
<%= form_with(model: @comment, url: comments_path, local: true) do |f| %>
  <%= f.text_area :content, placeholder: 'Write something...' %>
  <%= f.submit 'Comment' %>
<% end %>


<ul>
  <% @post.comments.right_order.each do |comment| %>
    <li>
      <p>
        <%= comment.content%>
      </p>
      <span>
        <%= comment.commenter.first_name %>
      </span>
    </li>
  <% end %>
</ul>

